<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 入门</title>
</head>
<body>
    <h6>todolist</h6>
    <br />
    <div id="root">
        <div>
            <input v-model="inputValue" type="text" />
            <button @click="addTodolist">提交</button>
            <ul>
                <li v-for="(item,index) of listArr" :key="index">{{item}}</li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#root",
            data: {
                inputValue: "",
                listArr: []
            },
            methods: {
                addTodolist:function(){
                    this.listArr.push(this.inputValue);
                    this.inputValue = "";
                }
            }
        })
    </script>
</body>
</html>